<?xml version="1.0" encoding="utf-8" ?>
<parameters>
	<parameter Name="Font" Value="16px 'Museo Sans', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif"></parameter>
	<parameter Name="AltFont" Value="16px 'Museo Sans', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;font-weight:bold" Base="Font" Expression="{0};font-weight:bold"></parameter>
	<parameter Name="Base Color" Value="#084298" Type="Color"></parameter>
	<parameter Name="Calendar Today Selected Color" Value="#031331" Type="Color" Base="Base Color" Expression="multiply,1.01,1,0.32"></parameter>
	<parameter Name="Calendar Time Section Hour Hand Color" Value="#07367C" Type="Color" Base="Base Color" Expression="1,1,0.813"></parameter>
	<parameter Name="Condition Color" Value="#4CA579" Type="Color" Base="Base Color" Expression="multiply,0.695,0.57,1.086"></parameter>
	<parameter Name="Min Color" Value="#378068" Type="Color" Base="Base Color" Expression="multiply,0.741,0.599,0.844"></parameter>
	<parameter Name="Max Color" Value="#6EBF98" Type="Color" Base="Base Color" Expression="multiply,0.701,0.45,1.259"></parameter>
	<parameter Name="Editors Color" Value="#05295E" Type="Color" Base="Base Color" Expression="multiply,1,1,0.621"></parameter>
	<parameter Name="Voted Rating" Value="#062F6C" Type="Color" Base="Base Color" Expression="multiply,1,1,0.71"></parameter>
	<parameter Name="Ripple color" Value="rgba(8,66,152,0.3)" Type="RgbaColor" Base="Base Color" Expression="multiply,1,1,1"></parameter>
	<parameter Name="Mobile ripple color" Value="rgba(8,66,152,0.4)" Type="RgbaColor" Base="Base Color" Expression="multiply,1,1,1"></parameter>
	<parameter Name="Listbox ripple color" Value="rgba(8,66,152,0.55)" Type="RgbaColor" Base="Base Color" Expression="multiply,1,1,1"></parameter>
	<parameter Name="Theme accent hover color" Value="#063881" Type="Color" Base="Base Color" Expression="overlay,black,0.15"></parameter>
</parameters>
