/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/*ResourceNavigator*/
/*ResourceNavigator*/
.dxscControl_ASADS .dxsc-detailed-apt-tooltip .dxsc-dat-container > div
{
    background: #454545;
}
.dxscControl_ASADS .dxsc-detailed-apt-tooltip .dxsc-dat-header span,
.dxscControl_ASADS .dxsc-detailed-apt-tooltip .dxsc-dat-middle span
{
    color: white;
}
.dxscControl_ASADS .dxsc-detailed-apt-tooltip .dxsc-dat-buttons-container .dxbButtonSys
{
    border-top-color: #737373;
}
.dxscControl_ASADS .dxsc-detailed-apt-tooltip .dxsc-dat-buttons-container .dxbButtonSys:not(.dxsc-dat-colored-button)
{
    color: white;
}
.dxscControl_ASADS .dxsc-detailed-apt-tooltip .dxsc-dat-buttons-container .dxbButtonSys.dxsc-dat-disabled-btn
{
    color: #989898;
}
.dxscControl_ASADS .dxsc-mat-images-container img
{
    opacity: .3;
}
.dxscControl_ASADS
{
    background-color: #dfdfdf;
    font: 16px 'Museo Sans', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    border-collapse: separate;
border-radius: 30px;
    box-shadow: 0;
overflow: hidden;
}
.dxscControl_ASADS .dxscAppointmentForm
{
    width: 740px !important;
}
.dxscControl_ASADS .dxscRangeControl .dxscRCEndByDateCell
{
    width: 163px;
}
/* recurrence form */
.dxscControl_ASADS .dxsc-rc-week-of-month
{
    width: 90px;
}
.dxscControl_ASADS .dxsc-rc-week-days
{
    width: 130px;
}
.dxscControl_ASADS .dxsc-rc-month
{
    width: 115px;
}
.dxscLoadingPanel_ASADS
{
    background-color: white;
    font: 16px 'Museo Sans', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxscLoadingPanel_ASADS td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxscLoadingPanel_ASADS .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #084298;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
/* Headers */
.dxscDateHeader_ASADS,
.dxscAlternateDateHeader_ASADS,
.dxscDayHeader_ASADS,
.dxscDateCellHeader_ASADS,
.dxscTodayCellHeader_ASADS,
.dxscTimelineDateHeader_ASADS,
.dxscHorizontalResourceHeader_ASADS,
.dxscVerticalResourceHeader_ASADS
{
    color: black;
    background: #eeeeee;
    border-style: solid;
    border-color: #DFDFDF;
    border-width: 1px 1px 1px 0;
    padding: 12px 4px;
    text-align: center;
    vertical-align: top;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
}
.dxscDayHeader_ASADS
{
    border-width: 1px 1px 0 0;
}
.dxscDateCellHeader_ASADS
{
    border-width: 1px;
}
.dxscAlternateTimelineDateHeader_ASADS,
.dxscAlternateDateHeader_ASADS
{
    background: #084298;
    color: white;
}
.dxscTodayCellHeader_ASADS
{
    border-top-width: 1px;
    background: #084298;
    color: white;
}
.dxscTimelineDateHeader_ASADS
{
    border-width: 1px 1px 1px 0;
}
.dxsc-month-mobile-layout .dxscDayHeader_ASADS,
.dxsc-month-mobile-layout .dxscDateCellHeader_ASADS,
.dxsc-month-mobile-layout .dxscTodayCellHeader_ASADS
{
    padding: 5px;
}
.dxscAgendaView .dxscDateCell_ASADS,
.dxscAgendaView .dxscDateRow_ASADS,
.dxscControl_ASADS .dxsc-agenda-header-row,
.dxscControl_ASADS .dxsc-agenda-horizontal-header
{
    background-color: #FAFAFA;
    border-bottom: solid 1px #D6D6D6;
}
.dxscControl_ASADS .dxscTodayDateCell_ASADS,
.dxscControl_ASADS .dxscTodayDateRow_ASADS
{
    background: #084298;
}
.dxscControl_ASADS .dxscTodayDateCell_ASADS,
.dxscControl_ASADS .dxscTodayDateRow_ASADS,
.dxscTodayDayCell_ASADS,
.dxscTodayDayOfWeekCell_ASADS
{
    color: white;
}
.dxscControl_ASADS .dxscTodayMonthOfYearCell_ASADS,
.dxscControl_ASADS .dxscTodayMonthYearCaption_ASADS,
.dxscControl_ASADS .dxscTodayDateRow_ASADS .dxscYearCaption_ASADS
{
    color: #e0e0e0;
}
.dxscHorizontalResourceHeader_ASADS
{
    border-width: 1px 1px 1px 0;
    background: white;
}
.dxscVerticalResourceHeader_ASADS
{
    border-width: 1px 1px 0 0;
    background: white;
    white-space: normal;
}
.dxscSelectionBar_ASADS
{
    border-style: solid;
    border-width: 0 1px 0 0;
    height: 30px;
}
.dxscControl_ASADS .dxscSel
{
    opacity: 0.25;
}
/* Corners */
.dxscLeftTopCorner_ASADS,
.dxscRightTopCorner_ASADS,
.dxscBottomLeftCorner_ASADS,
.dxscControl_ASADS .dxsc-timeline-resourcesContainer
{
    background: white;
}
.dxscLeftTopCorner_ASADS,
.dxscRightTopCorner_ASADS
{
    width: 1px;
    border-style: solid;
    border-color: #DFDFDF;
    border-width: 0 0 1px;
}
.dxscLeftTopCorner_ASADS
{
    border-width: 1px 1px 1px 0;
    font-size: 0.91em;
    text-align: center;
    padding: 2px;
    overflow: hidden;
}
/* Separators */
.dxscGroupSeparatorVertical_ASADS,
.dxscGroupSeparatorHorizontal_ASADS
{
    background: white;
    border: solid 1px #DFDFDF;
}
.dxscGroupSeparatorVertical_ASADS
{
    width: 1px;
    border-width: 0 1px;
}
.dxscGroupSeparatorHorizontal_ASADS
{
    height: 1px;
    border-width: 1px 0 0;
    font-size: 0;
}
/* Apts Area */
.dxscAllDayArea_ASADS
{
    background: white;
    border: solid 1px #DFDFDF;
    border-width: 0 1px 1px 0;
}
.dxscDateCellBody_ASADS
{
    height: 100px;
    border: solid 1px;
    border-width: 0 1px 0 0;
}
.dxscTimeCellBody_ASADS
{
    border: 1px solid;
    background-color: White;
}
.dxscTimelineCellBody_ASADS
{
    border-style: solid;
    border-width: 1px 1px 0 0;
}
.dxscAppointment_ASADS
{
    font-size: 0.91em;
    padding: 0;
    margin: 0;
    cursor: default;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.dxscAppointmentInnerBorders_ASADS
{
    padding: 0px;
}
.dxscAppointmentHorizontalSeparator_ASADS
{
    height: 1px;
    width: 100%;
    overflow: hidden;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
.dxscAppointment_ASADS .dxsc-apt-left-container > img,
.dxscAppointment_ASADS .dxsc-apt-right-container > img,
.dxscAppointment_ASADS .dxsc-apt-images-container
{
    opacity: 0.3;
}
.dxscApt.dxsc-selected .dxscAppointment_ASADS .dxsc-apt-left-container > img,
.dxscApt.dxsc-selected .dxscAppointment_ASADS .dxsc-apt-right-container > img,
.dxscApt.dxsc-selected .dxscAppointment_ASADS .dxsc-apt-images-container
{
    opacity: 1;
}
.dxpcLite_ASADS .dxscButtonTable,
.dxpcLite_ASADS .dxscAppointmentForm
{
    border-collapse: separate;
    border-spacing: 8px;
}
.dxscMoreButton_ASADS
{
    font-size: 0.91em;
    color: #084298;
    text-decoration: none;
    padding: 0;
}
.dxscMoreButton_ASADS:hover
{
    text-decoration: underline;
}
/* Rulers */
.dxscTimeRulerHoursItem_ASADS, .dxscTimeRulerMinuteItem_ASADS
{
    color: #3f3f3f;
    background: #fafafa;
    border: solid 1px #DFDFDF;
    border-width: 0px 1px 1px 0;
    vertical-align: top;
    white-space: nowrap;
}
.dxscTimeRulerHoursItem_ASADS
{
    border-right-width: 0;
    border-left-color: #DFDFDF;
    font-size: 1.42em;
    text-align: right;
    width: 45px;
    padding: 2px 4px 0px;
}
.dxscTimeRulerMinuteItem_ASADS
{
    border-left-width: 0px;
    text-align: center;
    width: 18px;
    font-size: 0.91em;
    padding: 4px 1px 4px 1px;
}
.dxscTimeRulerHeaderHourItem_ASADS
{
    width: 55px;
}
.dxscTimeRulerHeaderMinuteItem_ASADS
{
    width: 16px;
}
.dxscScrollHeaderItem_ASADS
{
    width: 16px;
}
/* Control elements */
.dxscToolbarContainer_ASADS
{
    padding: 15px 12px 8px;
    border-color: #DFDFDF;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    background-color: #F4F7FD;
    border-radius: 8px 8px 0 0;

}
.dxscToolbar_ASADS
{
    border: none;
    padding: 4px 7px;
}
.dxscControl_ASADS .dxscRendererTable
{
    border: 1px solid #DFDFDF;
    border-top-width: 0;
     border-radius:  0 0 8px 8px;
}
.dxscControl_ASADS .dxscAgendaViewScrollContainer,
.dxscControl_ASADS .dxscRendererTable
{
    background: white;
}
.dxscToolbar_ASADS .dxeCalendar_ASADS,
.dxscToolbar_ASADS .dxeCalendar_ASADS.dxeFocused_ASADS
{
    border: 1px Solid Silver;
}
.dxscResourceNavigator_ASADS
{
    background: white;
    padding: 10px 16px;
    border-color: #DFDFDF;
    color: #484848;
    font: 16px 'Museo Sans', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxscControl_ASADS .dxscResourceNavigator_ASADS
{
    border-width: 1px 1px 0 1px;
}
.dxscResourceNavigator_ASADS.dxsc-resselector-container
{
    padding: 8px 12px 8px 12px;
}
.dxscResourceNavigator_ASADS .dxsc-restoken
{
    border: none;
    background: #EAEAEA;
    border-radius: 14px;
    line-height: 100%;
}
.dxscResourceNavigator_ASADS .dxsc-restoken .dxsc-rh-sys
{
    border: none;
}
.dxscResourceNavigator_ASADS .dxsc-restokens .dxsc-restoken.dxsc-rh-color-mode .dxsc-rc-sys
{
    padding-left: 28px;
}
.dxscResourceNavigator_ASADS .dxsc-restoken .dxsc-rh-sys
{
    width: 12px;
    height: 12px;
    top: 8px;
    left: 9px;
    border-radius: 50%;
}
.dxscResourceNavigator_ASADS .dxsc-restoken .dxsc-rc-sys
{
    padding: 7px 0px 6px 12px;
}
.dxscResourceNavigator_ASADS .dxsc-restoken .dxsc-restoken-remove
{
    margin: 2px 4px 2px 1px;
    float: right;
}
.dxscResourceNavigator_ASADS .dxpc-footerContent > div:first-child
{
    margin-right: 6px;
}
.dxscResourceNavigatorButton_ASADS.dxsc-filter-button
{
    padding: 7px 7px 6px 7px;
    background: #EAEAEA;
    border-radius: 50%;
}
.dxscResourceNavigatorButton_ASADS.dxsc-more-button
{
    padding: 6px 7px 7px 7px;
    background: #eaeaea;
    border-radius: 50%;
}
.dxscResourceNavigatorButton_ASADS.dxsc-filter-button > div,
.dxscResourceNavigatorButton_ASADS.dxsc-more-button > div
{
    padding-top: 1px;
}
.dxscViewVisibleInterval_ASADS
{
    font: 16px 'Museo Sans', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-size: 1.17em;
    white-space: nowrap;
    color: #084298;
    text-transform: uppercase;
}
.dxscToolbarContainer_ASADS .dxsc-adaptive-toolbar .dxsc-vvi-table
{
    min-width: 150px;
}
.dxscInplaceEditor_ASADS
{
    background: #fdfdfd;
    border: solid 2px #303030;
    padding: 0;
    color: #303030;
}
.dxscControlAreaForm_ASADS
{
    font-size: 1.33em;
    background-color: #efefef;
    border: none;
    white-space: normal;
    padding: 9px 12px;
}
.dxscErrorInfo_ASADS
{
    background: #f1abab;
    color: #853a3a;
    padding: 10px;
}
/* Buttons */
.dxscViewNavigatorButton_ASADS,
.dxscViewNavigatorGotoDateButton_ASADS
{
    font-size: 1.17em;
    line-height: 100%;
    padding: 0 4px;
    min-height: 1em;
    display: block !important;
}
.dxscViewNavigatorGotoDateButton_ASADS
{
    padding: 0 0 0 4px;
}
.dxscViewNavigatorButton_ASADS.dxscViewNavigatorGotoTodayButton
{
    padding: 0 4px 3px;
    color: #084298;
}
.dxscViewNavigatorButtonHover_ASADS.dxscViewNavigatorGotoTodayButton
{
    text-decoration: underline;
}
.dxscResourceNavigatorButton_ASADS,
.dxscNavigationButton_ASADS,
.dxscDVTopMoreButton_ASADS,
.dxscDVBottomMoreButton_ASADS
{
    cursor: pointer;
    padding: 6px;
}
.dxscNavigationButton_ASADS
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    border-radius: 50%;
    padding: 0;
}
.dxscResourceNavigator_ASADS table td:nth-child(6) table td.dxscResourceNavigatorButton_ASADS
{
    padding: 6px 8px 6px 6px;
}
.dxscSmartTagButton_ASADS
{
    border: solid 1px black;
    background: #ffffee;
    padding: 4px 5px;
    cursor: pointer;
}
.dxscViewSelector_ASADS
{
    font: 16px 'Museo Sans', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxscViewSelectorButton_ASADS
{
    padding: 6px 18px 15px;
    margin-bottom: -8px;
    color: #757575;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
}
.dxscViewSelector_ASADS .dxmLite_ASADS .dxm-main .dxm-item.dxm-checked,
.dxscViewSelector_ASADS .dxmLite_ASADS .dxm-main .dxm-item.dxm-checked.dxm-hovered,
.dxscViewSelectorButtonChecked_ASADS
{
    border-bottom: 4px solid #084298;
    color: black;
}
.dxscViewSelector_ASADS .dxmLite_ASADS .dxm-main .dxm-item.dxm-hovered
{
    color: #757575;
}
.dxscViewSelector_ASADS .dxmLite_ASADS .dxm-main .dxm-item.dxm-hovered,
.dxscViewSelector_ASADS .dxmLite_ASADS .dxm-main .dxm-item.dxm-checked,
.dxscViewSelector_ASADS .dxmLite_ASADS .dxm-main .dxm-item.dxm-checked.dxm-hovered
{
    background: none;
}
.dxscViewSelector_ASADS.dxscVSHorz .dxmLite_ASADS .dxm-main.dxm-horizontal .dxm-item .dxm-content,
.dxscViewSelector_ASADS.dxscVSVert .dxmLite_ASADS .dxm-main.dxm-vertical .dxm-item .dxm-content,
.dxscViewSelector_ASADS .dxmLite_ASADS.dxm-ltr .dxm-main .dxm-image-l .dxm-popOut
{
    padding: 6px 18px 15px;
}
.dxscViewSelector_ASADS .dxmLite_ASADS.dxm-ltr .dxm-main .dxm-image-l div.dxm-popOut
{
    padding-right: 8px;
}
.dxscViewSelector_ASADS .dxmLite_ASADS .dxm-main
{
    background: none;
    border: none;
    color: #757575;
}
.dxscViewSelector_ASADS .dxmLite_ASADS .dxm-main .dxm-item
{
    margin-bottom: -8px;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
}
.dxscViewSelector_ASADS .dxmLite_ASADS .dxm-horizontal .dxm-separator b
{
    width: 0;
}
.dxscToolbar_ASADS .dxscViewSelector_ASADS .dxmLite_ASADS .dxm-main
{
    margin-bottom: -8px;
}
.dxscToolbar_ASADS .dxscViewSelector_ASADS .dxmLite_ASADS .dxm-main .dxm-item
{
    margin-bottom: 0px;
}
.dxscViewSelector_ASADS.dxscVSVert .dxbButtonSys
{
    width: 100%;
    text-align: left;
}
.dxscNoBorderButton_ASADS
{
    border: solid 1px #FDFDFD;
    background: none;
    cursor: pointer;
}
.dxscNoBorderButtonHover_ASADS
{
    border: solid 1px #A8A8A8;
}
.dxscToolTipRoundedCornersTopBottomRow_ASADS
{
    font-size: 0;
}
.dxscToolTipRoundedCornersTopSide_ASADS
{
    border-top: 1px #757575 solid;
    vertical-align: bottom;
    height: 1px;
    background-color: #FFFFFF;
}
.dxscToolTipRoundedCornersLeftSide_ASADS
{
    border-left: 1px #757575 solid;
    vertical-align: bottom;
    background-color: #FFFFFF;
}
.dxscToolTipRoundedCornersRightSide_ASADS
{
    border-right: 1px #757575 solid;
    vertical-align: bottom;
    background-color: #FFFFFF;
}
.dxscToolTipRoundedCornersBottomSide_ASADS
{
    border-bottom: 1px #757575 solid;
    vertical-align: bottom;
    height: 1px;
    background-color: #FFFFFF;
}
.dxscToolTipRoundedCornersContent_ASADS
{
    background-color: #FFFFFF;
    padding: 0;
}
.dxscToolTipSquaredCorners_ASADS
{
    background: #f9f9cd;
    padding: 1px 1px;
    font-size: 0;
    color: #303030;
    white-space: nowrap;
    border: solid 1px black;
}
.dxscTimeMarker_ASADS
{
    top: -6px;
}
.dxscTimeMarkerLine_ASADS
{
    top: -2px;
    background-color: Red;
    height: 3px;
    font-size: 0;
}
.dxscTimeMarkerLineV_ASADS
{
    position: absolute;
    background-color: #084298;
    width: 1px;
    font-size: 0;
    border: solid 1px #FFFFFF;
    border-top-width: 0;
    border-bottom-width: 0;
    box-sizing: content-box;
}
.dxscTimeMarkerLineH_ASADS
{
    position: absolute;
    top: -2px;
    background-color: #084298;
    height: 1px;
    font-size: 0;
    border: solid 1px #FFFFFF;
    border-left-width: 0;
    border-right-width: 0;
}
.dxscClientRendering td.dxscTimeCellBody_ASADS:last-child,
.dxscClientRendering td.dxscDateCellBody_ASADS.dxscLastCell,
.dxscRendererTable.dxscClientRendering td.dxscDayHeader_ASADS:last-child,
.dxscRendererTable.dxscClientRendering td.dxscDateCellHeader_ASADS.dxscLastCell,
.dxscClientRendering.dxscTimelineView td.dxscTimelineDateHeader_ASADS:last-child,
.dxscClientRendering.dxscTimelineView td.dxscTimelineCellBody_ASADS:last-child,
.dxscRendererTable.dxscClientRendering td.dxscHorizontalResourceHeader_ASADS
{
    border-right-width: 0px;
}
.dxscRendererTable.dxscClientRendering td.dxscHorizontalResourceHeader_ASADS
{
    border-bottom-width: 0px;
}
.dxscRendererTable.dxscClientRendering td.dxscDateCellHeader_ASADS,
.dxscRendererTable.dxscClientRendering td.dxscDateCellHeader_ASADS.dxscCompressed.dxscFirstCell,
.dxscRendererTable.dxscClientRendering td.dxscTodayCellHeader_ASADS.dxscCompressed.dxscFirstCell
{
    border-left-width: 0px;
}
.dxscRendererTable.dxscClientRendering td.dxscDateCellHeader_ASADS.dxscCompressed,
.dxscRendererTable.dxscClientRendering td.dxscTodayCellHeader_ASADS.dxscCompressed
{
    border-left-width: 1px;
}
.dxscClientRendering.dxscTimelineView .dxscVerticalResourceHeader_ASADS.dxscFirstVerticalResourceHeader,
.dxscClientRendering.dxscTimelineView .dxscTimelineDateHeader_ASADS.dxscAlternateTimelineDateHeader_ASADS,
.dxscClientRendering.dxscTimelineView .dxscTimelineDateHeader_ASADS
{
    border-top-width: 0px;
}
.dxscClientRendering.dxscTimelineView .dxscFirstScale .dxscTimelineDateHeader_ASADS.dxscAlternateTimelineDateHeader_ASADS,
.dxscClientRendering.dxscTimelineView .dxscFirstScale .dxscTimelineDateHeader_ASADS
{
    border-top-width: 1px;
}
.dxscControl_ASADS table.dxsc-timeline-view
{
    border: 1px solid #DFDFDF;
}
.dxscControl_ASADS .dxeButtonEdit_ASADS
{
    min-width: 65px;
}
.dxscControl_ASADS .dxscRCEndByDateCell
{
    min-width: 155px;
}
.dxscAgendaView .dxscAppointmentEndArrowIconCell_ASADS
{
    border-right: 1px solid #D6D6D6;
}
.dxscAgendaView .dxscEmptyCell_ASADS
{
    background-color: #FAFAFA;
    height: 65px;
    text-align: center;
    color: #5C5C5C;
    font-size: 14px;
}
.dxscDateRow_ASADS.dxsc-agenda-horizontal-header
{
    padding-top: 7px;
}
.dxscAgendaView .dxscDateCell_ASADS
{
    vertical-align: top;
    padding-top: 6px;
    padding-left: 10px;
    width: 160px;
}
.dxscAgendaView .dxscAppointmentStatusCell_ASADS
{
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    width: 5px;
}
.dxscControl_ASADS .dxsc-agenda-compact-time-cell .dxsc-apt-time-table-wrapper
{
    border-right-color: #D6D6D6;
    border-bottom-color: #D6D6D6;
}
.dxscControl_ASADS .dxsc-agenda-date-cell,
.dxscControl_ASADS .dxscAgendaView .dxsc-apt-status-cell,
.dxscControl_ASADS .dxscAgendaView .dxsc-agenda-apt > table,
.dxscControl_ASADS .dxsc-agenda-compact-time-cell .dxsc-apt-time-table-wrapper,
.dxscControl_ASADS .dxscAgendaViewScrollContainer,
.dxscControl_ASADS .dxscRendererTable.dxscAgendaView,
.dxscControl_ASADS .dxsc-scroll .dxscDayScrollContent,
.dxscControl_ASADS .dxsc-scroll .dxsc-timeline-horizontalContainer
{
    border-bottom: 1px solid #D6D6D6;
}
.dxscControl_ASADS .dxsc-content-overflow .dxscAgendaView
{
    border-bottom-width: 0px;
}
.dxscControl_ASADS .dxsc-scroll .dxscDayScrollBodyTable td:last-child
{
    border-right-width: 1px !important;
}
.dxscControl_ASADS .dxsc-agenda-apt.dxsc-apt-no-status .dxsc-apt-start-arrow-cell
{
    border-left: 1px solid #D6D6D6;
}
.dxscControl_ASADS .dxsc-agenda-apt .dxsc-apt-start-arrow-cell,
.dxscControl_ASADS .dxsc-agenda-apt .dxsc-apt-end-arrow-cell,
.dxscControl_ASADS .dxsc-agenda-apt .dxsc-apt-icon-cell
{
    padding-top: 12px;
}
.dxscControl_ASADS .dxsc-agenda-compact-time-cell .dxsc-agenda-apt .dxsc-apt-start-arrow-cell,
.dxscControl_ASADS .dxsc-agenda-compact-time-cell .dxsc-agenda-apt .dxsc-apt-end-arrow-cell,
.dxscControl_ASADS .dxsc-agenda-compact-time-cell .dxsc-agenda-apt .dxsc-apt-icon-cell
{
    padding-top: 8px;
}
.dxscAgendaView .dxscEmptyCell_ASADS
{
    border-top: 0px;
}
.dxscControl_ASADS .dxscAgendaView
{
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.dxscControl_ASADS .dxscAgendaViewScrollContainer
{
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
}
.dxsc-dialog-reminder .dxflFormLayout_ASADS .dialog-item-Subject .dialog-aspxlabel,
.dxscBorderSpacing .dxeBase_ASADS.dxsc-reminder-form-apt-subject
{
    color: #084298;
    font-size: 16px;
}
.dxscControl_ASADS .dxsc-cell-touch-handle
{
    background-color: #084298;
}
.dxpcLite_ASADS.dxsc-modal.dxsc-modal-appoinment
{
    min-width: 350px;
    max-width: 900px;
}
.dxpcLite_ASADS.dxsc-modal.dxsc-modal-reminder
{
    max-width: 550px;
    min-width: 200px;
}
.dxpcLite_ASADS.dxsc-modal.dxsc-modal-recur-apt-action
{
    max-width: 420px;
    min-width: 200px;
}
.dxpcLite_ASADS.dxsc-modal.dxsc-modal-goto-date
{
    max-width: 340px;
    min-width: 170px;
}
.dxsc-dialog.dxsc-dialog-goto-date div.dxflFormLayout_ASADS .dialog-lgc.dialog-group-ButtonsGroup > .dialog-lgb > .dialog-lg,
.dxsc-dialog.dxsc-dialog-recur-apt-action div.dxflFormLayout_ASADS .dialog-lgc.dialog-group-ButtonsGroup > .dialog-lgb > .dialog-lg,
.dxsc-dialog div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-group-Recurrence > .dialog-lgb,
.dxsc-dialog div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelEndDateGroup .dialog-lg,
.dxsc-dialog div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-flow-container-EndDateGroup .dialog-lg,
.dxsc-dialog.dxsc-dialog-appoinment > div.dxflFormLayout_ASADS:not(.dialog-singlecolumn) .dialog-lgc.dialog-group-ButtonsGroup > .dialog-lgb > .dialog-lg
{
    border-color: #DCDCDC;
}
.dxsc-dialog-appoinment div.dxflFormLayout_ASADS .dialog-group-Recurrence > .dialog-lg,
.dxsc-dialog-appoinment div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-group-RecurrenceViewModelEndDateGroup .dialog-lgb > .dialog-lg > div,
.dxsc-dialog-appoinment div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-flow-container-IsRecurring,
.dxmodalSys .dxsc-dialog-appoinment div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelRecurrenceGroup .dialog-group-RecurrenceViewModelRecurrenceGroup,
.dxsc-dialog div.dxflFormLayout_ASADS > .dialog-lg > div:not(.dialog-flow-container-ButtonsGroup)
{
    padding: 0 8px;
}
.dxsc-dialog-appoinment div.dxflFormLayout_ASADS:not(.dialog-singlecolumn) .dialog-flow-container-ButtonsGroup
{
    margin-top: 4px;
}
.dxsc-dialog div.dxflFormLayout_ASADS .dialog-flow-container-ButtonsGroup .dialog-lgb > .dialog-lg .dialog-lgc
{
    padding: 12px 10px 12px 0;
}
.dxsc-dialog-appoinment div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-lgc .dialog-item-Description
{
    padding-top: 10px;
}
.dxsc-dialog div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-group-Recurrence > .dialog-lgb
{
    margin-top: 10px;
}
.dxsc-dialog div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelRecurrenceGroup
{
    margin-bottom: 18px;
}
.dxmodalSys .dxsc-dialog .dxflGroup_ASADS > .dxflChildInLastRowSys > .dxflGroupCell_ASADS > .dxflGroupBox_ASADS
{
    padding-bottom: 0px;
}
.dxmodalSys .dxsc-dialog .dxflGroupBox_ASADS > .dxflGroup_ASADS > .dxflChildInFirstRowSys > .dxflGroupCell_ASADS > .dxflItem_ASADS
{
    padding-top: 10px;
}
.dxsc-dialog div.dxflFormLayout_ASADS .dialog-item-IsAllDay .dialog-aspxcheckbox,
.dxsc-dialog div.dxflFormLayout_ASADS .dialog-item-IsRecurring .dialog-aspxcheckbox
{
    padding-top: 7px;
}
.dxsc-dialog div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-item-IsAllDay .dialog-aspxcheckbox,
.dxsc-dialog div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-item-IsRecurring .dialog-aspxcheckbox
{
    padding-top: 9px;
}
.dxsc-dialog div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-item-IsAllDay .dxflCaptionCellSys,
.dxsc-dialog div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-item-IsRecurring .dxflCaptionCellSys
{
    padding: 11px 0 11px 0;
}
.dxmodalSys .dxsc-dialog.dialog-container div.dxflFormLayout_ASADS .dialog-lgb .dialog-lg .dialog-item-IsRecurring
{
    padding-bottom: 0px;
    padding-top: 3px;
}
.dxmodalSys .dxsc-dialog.dialog-container div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-lgb .dialog-lg .dialog-item-IsAllDay .dxToggle,
.dxmodalSys .dxsc-dialog.dialog-container div.dxflFormLayout_ASADS.dialog-singlecolumn .dialog-lgb .dialog-lg .dialog-item-IsRecurring .dxToggle
{
    margin-top: 2px;
}
.dxmodalSys div.dialog-container div.dxflFormLayout_ASADS .dialog-linc.buttons .dialog-control-wrapper
{
    margin-left: 10px;
}
.dxsc-dialog-control-area .dxpnlControl_ASADS.dxsc-dialog
{
    background-color: white;
}
.dxmodalSys .dxsc-dialog .dxflFormLayout_ASADS.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelDailyRecurrenceDaysCount,
.dxmodalSys .dxsc-dialog .dxflFormLayout_ASADS.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelMonthlyRecurrenceDay,
.dxmodalSys .dxsc-dialog .dxflFormLayout_ASADS.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelMonthlyRecurrenceWeekOfMonth,
.dxmodalSys .dxsc-dialog .dxflFormLayout_ASADS.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelYearlyRecurrenceWeekDaysMonth,
.dxmodalSys .dxsc-dialog .dxflFormLayout_ASADS.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelYearlyRecurrenceWeekOfMonth,
.dxsc-dialog .dxflFormLayout_ASADS .dialog-flow-container-SnoozeTimeSpanCaption
{
    padding-top: 6px;
}
.dxmodalSys .dxsc-dialog .dxeRadioButtonList_ASADS td.dxe
{
    padding: 16px 0 0px 8px;
}
.dxmodalSys .dxsc-dialog .dxflFormLayout_ASADS .dialog-flow-container-Action > .dialog-lgc > .dialog-item-Action
{
    padding-bottom: 0px;
}
.dxsc-modal.dxsc-modal-reminder.dxpcLite_ASADS .dxpc-content
{
    padding: 0 18px 18px 18px;
}
