/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_ASADS
{
    background: white;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.dxheLoadingPanel_ASADS
{
    background-color: white;
    font: 16px 'Museo Sans', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxheLoadingPanel_ASADS td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxheLoadingPanel_ASADS .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #084298;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
.dxheDesignViewArea_ASADS .dx-base64img-wrapper:after
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #084298;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
.dxheDesignViewArea_ASADS .dx-base64img-wrapper:after
{
    margin: -16px 0px 0px -16px;
}
.dxheControl_ASADS
{
    font: 16px 'Museo Sans', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
/* Area */
.dxheErrorFrame_ASADS
{
    font: 16px 'Museo Sans', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #D00707;
    background-color: #FBC7C7;
    margin-bottom: 6px;
}
.dxheControl_ASADS .dxeMemo_ASADS .dxheErrorFrame_ASADS .dxhe,
.dxheControl_ASADS.dxhe-rtl .dxeMemo_ASADS .dxheErrorFrame_ASADS .dxhe,
.dxheErrorFrame_ASADS .dxhe
{
    padding: 5px;
}
.dxheControl_ASADS .dxeMemo_ASADS .dxheErrorFrame_ASADS .dxhe td,
.dxheControl_ASADS.dxhe-rtl .dxeMemo_ASADS .dxheErrorFrame_ASADS .dxhe td,
.dxheErrorFrame_ASADS .dxhe td
{
    padding: 0;
}
.dxheErrorFrame_ASADS .dxheErrorFrameCloseButton_ASADS
{
    cursor: pointer;
}
.dxheContentArea_ASADS td.dxheViewArea_ASADS
{
    line-height: 0;
}
.dxheContentArea_ASADS td.dxheViewArea_ASADS.dxheHtmlViewArea_ASADS
{
    line-height: inherit;
}
.dxheDesignViewArea_ASADS,
.dxhePreviewArea_ASADS
{
    background: none #FFFFFF;
}
.dxheControl_ASADS .dxheHtmlViewArea_ASADS,
body.dxheDesignViewArea_ASADS,
body.dxhePreviewArea_ASADS
{
    margin: 0px;
    background: none #FFFFFF;
    border: 0;
    font-size: smaller;
    font: 12px Arial, Helvetica, sans-serif;
}
.dxheControl_ASADS .dxeMemo_ASADS.dxheHtmlViewArea_ASADS .dxeMemoEditArea_ASADS,
body.dxheDesignViewArea_ASADS,
body.dxhePreviewArea_ASADS
{
    padding: 15px 20px 0 20px;
}
.dxheControl_ASADS .dxeMemo_ASADS.dxheHtmlViewArea_ASADS td
{
    padding: 0 40px 0 0;
}
.dxheControl_ASADS.dxhe-rtl .dxheContentArea_ASADS .dxeMemo_ASADS.dxheHtmlViewArea_ASADS td
{
    padding: 0 0 0 40px;
}
.dxheControl_ASADS .dxeMemo_ASADS textarea
{
    resize: none;
}
.dxheControl_ASADS td.dxheDesignViewArea_ASADS .dxm-main.dxmtb
{
    border: 1px solid #C3C3C3;
    background: #ffffff;
}
.dxheControl_ASADS td.dxheDesignViewArea_ASADS
{
    position: relative;
}
.dxheViewArea_ASADS .dxhe-tiControlsWrapper span.dxhe-tiTagName
{
    padding-right: 18px;
}
.dxheViewArea_ASADS .dxhe-tiControlsWrapper .dxbButton_ASADS
{
    min-width: 16px;
    width: auto !important;
}
.dxheViewArea_ASADS .dxhe-tiControlsWrapper .dxbButton_ASADS.dxhe-tiDeleteButton
{
    margin-right: 1px;
}
td.dxheDesignViewArea_ASADS .dxmLite_ASADS
{
    position: absolute;
    right: 0;
    padding-right: 24px;
}
td.dxheDesignViewArea_ASADS .dxmLite_ASADS.dxm-rtl
{
    right: inherit;
    padding-right: 0px;
    padding-left: 5px;
}
.dxheViewArea_ASADS .dxheAudio
{
    background-image: url('dxheAudio.svg');
}
.dxheViewArea_ASADS .dxheFlash
{
    background-image: url('dxheFlash.svg');
}
.dxheViewArea_ASADS .dxheVideo
{
    background-image: url('dxheVideo.svg');
}
.dxheViewArea_ASADS .dxheYoutube
{
    background-image: url('dxheYoutube.svg');
}
.dxheViewArea_ASADS img.dxheNotSupported
{
    background-image: url('dxheNotSupported.svg');
}
.dxheViewArea_ASADS img.dxheAudio,
.dxheViewArea_ASADS img.dxheFlash,
.dxheViewArea_ASADS img.dxheVideo,
.dxheViewArea_ASADS img.dxheYoutube,
.dxheViewArea_ASADS img.dxheNotSupported
{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cfcfcf;
    border: 1px dotted #FFFFFF;
    opacity: 0.8;
}
.dxheViewArea_ASADS .dxhe-tiControlsWrapper
{
    background-color: #084298;
    padding: 3px 4px 2px 10px;
    border: none;
}
.dxheViewArea_ASADS .dxhePlaceholder
{
    cursor: default;
    white-space: nowrap;
}
.dxheViewArea_ASADS.dxheDesignViewArea_ASADS .dxheSelected
{
    background-color: #E0E0E0;
}
.dxhe-insertPlaceholder .dxeListBox_ASADS.dxeFocused_ASADS
{
    border: 1px solid #C0C0C0;
}
.dxhe-insertPlaceholder .dxflGroup_ASADS,
.dxpc-contentWrapper .dxflFormLayout_ASADS.dxhe-insertPlaceholder .dxflGroup_ASADS .dxflGroupBox_ASADS .dxflListBoxItemSys
{
    padding-top: 0;
}
.dxhe-insertPlaceholder .dxflGroup_ASADS .dxhe-dialogLI.dxhe-dialogButtonsContainer
{
    padding-top: 10px;
}
.dxhe-insertPlaceholder .dxeListBox_ASADS,
.dxhe-insertPlaceholder .dxeListBox_ASADS .dxlbd
{
    width: 220px;
    height: 215px;
}
/* CodeMirror */
.dxheHtmlViewArea_ASADS .CodeMirror-activeline-background
{
    background: #e0e0e0;
    opacity: 0.7;
}
.dxheHtmlViewArea_ASADS .CodeMirror-foldgutter-open::after
{
    content: url('heFoldGutterOpen.svg');
}
.dxheHtmlViewArea_ASADS .CodeMirror-foldgutter-folded::after
{
    content: url('heFoldGutterFolded.svg');
}
.dxheHtmlViewArea_ASADS .CodeMirror-foldmarker::after
{
    content: url('dxheFoldMarker.png');
    background-size: 16px 10px;
}
.dxheSourceEditorSys.dxheHtmlViewArea_ASADS .CodeMirror-gutter.CodeMirror-linenumbers,
.dxheHtmlViewArea_ASADS .CodeMirror-gutter.CodeMirror-linenumbers
{
    border-left: 0;
    border-right: 0;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_ASADS table.dxEmptyBorderTable,
body.dxheDesignViewArea_ASADS table.dxEmptyBorderTable td
{
    border: 1px dotted gray;
}
@media print
{
    body.dxheDesignViewArea_ASADS table.dxEmptyBorderTable,
    body.dxheDesignViewArea_ASADS table.dxEmptyBorderTable td
    {
        border: 0px;
    }
}
body.dxheDesignViewArea_ASADS
{
    word-wrap: inherit;
}
body.dxheDesignViewArea_ASADS pre
{
    word-wrap: break-word;
    white-space: pre-wrap;
}
/* Status Bar */
.dxheStatusBar_ASADS
{
    background-color: #f1f1f1;
}
.dxheControl_ASADS .dxheStatusBar_ASADS .dxheStatusBarTab_ASADS .dxtc-link
{
    padding: 10px 24px 11px 24px;
}
.dxHtmlEditor_heSizeGrip_ASADS
{
    cursor: se-resize;
    margin: 0 4px 4px 0;
}
.dxHtmlEditor_heSizeGripRtl_ASADS
{
    cursor: ne-resize;
    margin: 0 0 4px 4px;
}
.dxheSizeGripContainer_ASADS
{
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -18px;
}
.dxheControl_ASADS.dxhe-rtl .dxheSizeGripContainer_ASADS
{
    text-align: left;
}
.dxheStatusBar_ASADS .dxtcLite_ASADS.dxtc-bottom > .dxtc-stripContainer .dxtc-activeTab
{
    border-top: none;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    background-color: white;
}
.dxheStatusBar_ASADS .dxtcLite_ASADS.dxtc-bottom > .dxtc-stripContainer .dxtc-leftIndent
{
    width: 0px !important;
}
.dxheStatusBar_ASADS .dxtcLite_ASADS.dxtc-bottom > .dxtc-stripContainer
{
    padding-bottom: 0px;
}
.dxheStatusBar_ASADS .dxtcLite_ASADS > .dxtc-stripContainer .dxtc-activeTab,
.dxheStatusBar_ASADS .dxtcLite_ASADS > .dxtc-stripContainer .dxtc-activeTab a
{
    color: #084298;
}
.dxheStatusBar_ASADS .dxtcLite_ASADS > .dxtc-stripContainer .dxtc-tab a
{
    color: #484848;
}
.dxheStatusBar_ASADS .dxtcLite_ASADS
{
    margin-left: -1px;
}
.dxheControl_ASADS.dxhe-rtl .dxheStatusBar_ASADS .dxtcLite_ASADS
{
    margin-right: -1px;
}
.dxheControl_ASADS .dxrControl_ASADS .dxtcLite_ASADS.dxtc-top .dxtc-tab
{
    background: transparent;
}
/* ----------------- Dialog Forms ----------------- */
.dxpcLite_ASADS .dxheDlgFooter,
.dxpcLite_ASADS .dxheCustomDialog_ASADS .dxhecd-Buttons
{
    background-color: white;
    border-top: Solid 1px #E0E0E0;
    padding: 10px 11px;
    text-align: right;
}
.dxpcLite_ASADS.dxRtl .dxheDlgFooter,
.dxpcLite_ASADS.dxRtl .dxheCustomDialog_ASADS .dxhecd-Buttons
{
    text-align: left;
}
.dxpcLite_ASADS .dxheDlgFooterBtn
{
    margin-left: 8px;
}
.dxpcLite_ASADS.dxRtl .dxheDlgFooterBtn
{
    margin-right: 8px;
    margin-left: 0;
}
.dxhe-dialogLoadingPanel.dxlpLoadingPanel_ASADS
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Insert Image Form */
.dxpcLite_ASADS .dxheDlgInsertImageForm .dxheDlgImagePreviewCell,
.dxpcLite_ASADS .dxheDlgSelectImageForm .dxheDlgImagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
}
.dxpcLite_ASADS .dxheDlgPasteFromWordForm .dxheDlgPasteContainerCell td
{
    border: Solid 1px #9F9F9F;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_ASADS
{
    height: 2px;
}
.dxtbControl_ASADS
{
    color: #484848;
    width: 100%;
    border-bottom: Solid 1px #E5E5E5;
    background-color: #f1f1f1;
    padding-bottom: 7px;
}
.dxtbControl_ASADS td.dxmMenu_ASADS
{
    border-width: 0px;
}
.dxtbControl_ASADS .dxmLite_ASADS .dxm-main.dxmtb
{
    padding-top: 7px;
}
.dxtbControl_ASADS .dxmLite_ASADS .dxm-main
{
    background-color: #f1f1f1;
}
.dxtbControl_ASADS .dxmLite_ASADS .dxmtb.dxm-horizontal .dxm-separator b
{
    background-color: #dfdfdf;
}
.dxtbComboBoxMenuItem_ASADS
{
    padding-top: 2px;
}
.dxheControl_ASADS .dxrControl_ASADS .dxr-minBtn
{
    padding-right: 8px;
}
.dxheControl_ASADS .dxtbControl_ASADS.dxtbr_ASADS,
.dxheControl_ASADS .dxrControl_ASADS .dxpc-mainDiv.dxr-minPopup
{
    border: 0;
}
.dxhe-bardock .dxmLite_ASADS .dxm-horizontal.dxmtb .dxm-item
{
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}
.dxhe-bardock .dxmLite_ASADS .dxm-horizontal .dxm-spacing,
.dxhe-bardock .dxmLite_ASADS .dxm-horizontal.dxmtb .dxm-image-l .dxm-separator,
.dxhe-bardock .dxmLite_ASADS .dxm-horizontal.dxmtb .dxm-image-r .dxm-separator
{
    margin-bottom: 4px;
}
/* Toolbars Lightweight Mode */
.dxtbControl_ASADS .dxmLite_ASADS .dxm-main
{
    border-width: 0px;
}
.dxmLite_ASADS .dxhetipControl_ASADS img
{
    vertical-align: top;
}
/* ToolbarColorButton */
.dxtcbControl_ASADS
{
    position: relative;
    display: inline-flex;
}
.dxtcbColorDiv_ASADS
{
    position: absolute;
    margin: 0 !important;
    left: 0;
    bottom: 0;
    transform: translateY(calc(100% + 2px));
    width: 100%;
    height: 3px;
    font-size: 0;
    background-color: Transparent;
}
/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl_ASADS .dxrpcontent_ASADS
{
    padding: 9px 10px 10px 10px !important;
}
/* InsertMediaDialogs */
.dxflFormLayout_ASADS .dxhe-dialogSettings
{
    width: 320px;
    padding-left: 30px;
}
.dxflFormLayout_ASADS.dxhe-mediaDialog .dxtcLite_ASADS > .dxtc-stripContainer .dxtc-leftIndent,
.dxflFormLayout_ASADS.dxhe-mediaDialog .dxtcLite_ASADS > .dxtc-stripContainer .dxtc-rightIndent
{
    width: 0px;
}
.dxflFormLayout_ASADS.dxhe-mediaDialog .dxtcLite_ASADS.dxtc-top > .dxtc-content
{
    border-left: 1px solid #DFDFDF !important;
    border-right: 1px solid #DFDFDF !important;
    border-bottom: 1px solid #DFDFDF !important;
    border-top: 3px solid #DFDFDF !important;
    border-top-style: solid !important;
    margin-top: -3px;
}
.dxflFormLayout_ASADS.dxhe-mediaDialog .dxic-previewPanel.dxrpControl_ASADS
{
    background: #FFFFFF;
    border: 1px dashed #A3A3A3;
}
.dxflFormLayout_ASADS.dxhe-mediaDialog .dxic-previewPanel.dxrpControl_ASADS .dxic-previewText
{
    text-transform: uppercase;
    font-size: 1.65em;
}
.dxflFormLayout_ASADS.dxhe-mediaDialog .dxic-previewPanel.dxrpControl_ASADS span.dxic-validationTip
{
    margin-bottom: 5px;
}
.dxflFormLayout_ASADS.dxhe-mediaDialog
{
    width: 900px;
}
.dxpcLite_ASADS.dx-dialog.dxhe-dialog-media-popup
{
    max-width: 950px;
}
.dxflFormLayout_ASADS.dxhe-mediaDialog .dxic-control,
.dxflFormLayout_ASADS.dxhe-mediaDialog .dxhe-dialogSettings
{
    height: 570px;
}
div.dxflFormLayout_ASADS.dxhe-dialog table.dxhe-dialogLG
{
    padding-left: 16px;
    padding-right: 16px;
}
div.dxhe-insertLinkDialog.dxflFormLayout_ASADS div.dxhe-dialog div.dxhe-dialogLI.dxhe-dialogButtonsContainer
{
    margin-left: -4px;
}
div.dxhe-insertLinkDialog.dxflFormLayout_ASADS.dxhe-dialog .dxflRadioButtonListItemSys td.dxe
{
    padding-bottom: 10px;
}
div.dxflFormLayout_ASADS.dxhe-dialog > table.dxhe-dialogLG.dxflGroupSys,
div.dxflFormLayout_ASADS.dxhe-dialog .dxhe-dialogButtonsContainer
{
    padding-bottom: 12px;
    padding-top: 24px;
}
.dxhe-dialog .dxhe-dialogButtonsContainer td:last-child .dxbButton_ASADS
{
    margin-left: 12px;
    margin-right: 5px;
}
div.dxhe-insertImageDialog.dxflFormLayout_ASADS .dxhe-dialogLI.dxhe-dialogButtonsContainer
{
    margin-top: 15px;
}
.dxhe-insertImageDialog.dxflFormLayout_ASADS.dxhe-dialog > table.dxhe-dialogLG.dxflGroupSys
{
    padding: 13px 14px 29px;
}
.dxhe-insertLinkDialog.dxflFormLayout_ASADS.dxhe-dialog > table.dxhe-dialogLG.dxflGroupSys
{
    padding: 13px 18px 12px 18px;
}
div.dxhe-insertLinkDialog.dxflFormLayout_ASADS.dxhe-dialog table.dxhe-dialogLG
{
    padding-right: 0px;
    padding-left: 5px;
}
.dxflFormLayout_ASADS.dxhe-dialog a.dxtc-link
{
    padding: 4px 10px;
}
div.dxflFormLayout_ASADS.dxhe-mediaDialogStyleSettings > table.dxhe-dialogLG.dxflGroupSys,
div.dxflFormLayout_ASADS.dxhe-mediaDialogMainSettings > table.dxhe-dialogLG.dxflGroupSys
{
    padding: 32px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn_ASADS,
.dxHtmlEditor_heConstrainProportionsMiddleOff_ASADS
{
    margin-left: 4px;
}
/* tag inspector */
.dxheDesignViewArea_ASADS .dxhe-tiSelection
{
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #084298;
    background-color: #084298;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: 0.3;
}
.dxheDesignViewArea_ASADS .dxhe-tiWrapper
{
    border-bottom: 1px solid #E5E5E5;
    background-color: #F1F1F1;
}
.dxheDesignViewArea_ASADS .dxhe-tiSeparator,
.dxheDesignViewArea_ASADS .dxhe-tiTagName
{
    color: #757575;
}
.dxheDesignViewArea_ASADS .dxheSelectedTag_ASADS
{
    color: #FFFFFF;
}
.dxhe-intelliSenseSysWin .dxeListBox_ASADS.dxeFocused_ASADS
{
    border-color: #c0c0c0;
}
div.dxhe-searchQuick div.dxbButton_ASADS,
div.dxhe-searchQuick div.dxbButton_ASADS .dxb
{
    background: none !important;
    border: none !important;
}
.dxpcLite_ASADS.dxhe-quickSearchSysWin .dxhe-flItem0
{
    padding-left: 2px !important;
}
div.dxhe-searchQuick .dxbButton_ASADS.dxbTSys
{
    width: initial !important;
}
div.dxhe-searchQuick .dxbButton_ASADS
{
    background-color: transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.dxheViewArea_ASADS
{
    border-bottom: 1px solid #DCDCDC;
}
td.dxheStatusBar_ASADS div.dxtcLite_ASADS.dxtcSys > .dxtc-stripContainer > li
{
    border-top: 1px solid #DCDCDC;
}
.dxhe-dialogWrapperPanel .dxucBrowseButton_ASADS
{
    padding: 6px 18px 7px;
}
.dxflFormLayout_ASADS.dxhe-insertTableDialog
{
    width: 511px;
}
div.dxflFormLayout_ASADS.dxhe-dialog:not(.dxhe-mediaDialogMainSettings):not(.dxhe-mediaDialogStyleSettings) > table.dxflGroup_ASADS.dxhe-dialogLG.dxflGroupSys
{
    padding-top: 0px;
}
.dxhe-dialog .dxflGroupBoxCaption_ASADS.dxhe-dialogLGBC
{
    left: 12px;
}
.dxpcLite_ASADS.dx-dialog > .dxhe-dialog-popup > .dxpc-header
{
    padding: 12px 10px 12px 16px;
}
.dxhe-dialog .dxflGroupBox_ASADS.dxhe-dialogLGB
{
    margin: 16px 0px;
}
.dxhe-dialog.dxhe-insertTableDialog .dxhe-dialogButtonsContainer td:last-child .dxbButton_ASADS
{
    margin-right: 12px;
}
div.dxflFormLayout_ASADS.dxhe-dialog.dxhe-insertTableDialog .dxhe-dialogLGB > table.dxhe-dialogLG
{
    padding-left: 12px;
    padding-right: 12px;
}
.dxpcLite_ASADS.dx-dialog.dxhe-dialog-tables-popup
{
    max-width: 700px;
}
.dxpcLite_ASADS.dx-dialog.dxhe-dialog-placeholder-popup,
.dxpcLite_ASADS.dx-dialog.dxhe-dialog-rowproperties-popup,
.dxpcLite_ASADS.dx-dialog.dxhe-dialog-cellproperties-popup,
.dxpcLite_ASADS.dx-dialog.dxhe-dialog-columnproperties-popup
{
    max-width: 500px;
}
