
dxSpriteWidth { width : 538 }

.dxSpreadsheet_TouchResize_ASADS { background-image: url('sprite.svg'); background-repeat: no-repeat; background-color: transparent } 
.dxSpreadsheet_TouchResize_ASADS { background-position: 0px 0px; background-size: 538px auto; width: 20px; height: 20px } 

