
.dxCardView_CTClearFilter_ASADS { background-position: -378px 0px; width: 16px; height: 16px } 
.dxCardView_CTClearFilterDisabled_ASADS { background-position: 0px 0px; width: 16px; height: 16px } 
.dxCardView_CTDeleteRow_ASADS { background-position: -360px 0px; width: 16px; height: 16px } 
.dxCardView_CTDeleteRowDisabled_ASADS { background-position: -324px 0px; width: 16px; height: 16px } 
.dxCardView_CTEditRow_ASADS { background-position: -432px 0px; width: 16px; height: 16px } 
.dxCardView_CTEditRowDisabled_ASADS { background-position: -396px 0px; width: 16px; height: 16px } 
.dxCardView_CTExportCsv_ASADS { background-position: -36px -18px; width: 16px; height: 16px } 
.dxCardView_CTExportCsvDisabled_ASADS { background-position: -414px 0px; width: 16px; height: 16px } 
.dxCardView_CTExportDocx_ASADS { background-position: -468px 0px; width: 16px; height: 16px } 
.dxCardView_CTExportDocxDisabled_ASADS { background-position: -450px 0px; width: 16px; height: 16px } 
.dxCardView_CTExportPdf_ASADS { background-position: -504px 0px; width: 16px; height: 16px } 
.dxCardView_CTExportPdfDisabled_ASADS { background-position: -486px 0px; width: 16px; height: 16px } 
.dxCardView_CTExportRtf_ASADS { background-position: -18px -18px; width: 16px; height: 16px } 
.dxCardView_CTExportRtfDisabled_ASADS { background-position: 0px -18px; width: 16px; height: 16px } 
.dxCardView_CTExportXls_ASADS { background-position: -252px 0px; width: 16px; height: 16px } 
.dxCardView_CTExportXlsDisabled_ASADS { background-position: -306px 0px; width: 16px; height: 16px } 
.dxCardView_CTExportXlsx_ASADS { background-position: -270px 0px; width: 16px; height: 16px } 
.dxCardView_CTExportXlsxDisabled_ASADS { background-position: -342px 0px; width: 16px; height: 16px } 
.dxCardView_CTFullCollapse_ASADS { background-position: -216px 0px; width: 16px; height: 16px } 
.dxCardView_CTFullCollapseDisabled_ASADS { background-position: -234px 0px; width: 16px; height: 16px } 
.dxCardView_CTFullExpand_ASADS { background-position: -180px 0px; width: 16px; height: 16px } 
.dxCardView_CTFullExpandDisabled_ASADS { background-position: -198px 0px; width: 16px; height: 16px } 
.dxCardView_CTNewRow_ASADS { background-position: -144px 0px; width: 16px; height: 16px } 
.dxCardView_CTNewRowDisabled_ASADS { background-position: -288px 0px; width: 16px; height: 16px } 
.dxCardView_CTRefresh_ASADS { background-position: -108px 0px; width: 16px; height: 16px } 
.dxCardView_CTRefreshDisabled_ASADS { background-position: -126px 0px; width: 16px; height: 16px } 
.dxCardView_CTShowCustomizationWindow_ASADS { background-position: -72px 0px; width: 16px; height: 16px } 
.dxCardView_CTShowCustomizationWindowDisabled_ASADS { background-position: -90px 0px; width: 16px; height: 16px } 
.dxCardView_CTShowFilterEditor_ASADS { background-position: -118px -18px; width: 14px; height: 14px } 
.dxCardView_CTShowFilterEditorDisabled_ASADS { background-position: -134px -18px; width: 14px; height: 14px } 
.dxCardView_CTShowSearchPanel_ASADS { background-position: -102px -18px; width: 14px; height: 14px } 
.dxCardView_CTShowSearchPanelDisabled_ASADS { background-position: -54px 0px; width: 16px; height: 16px } 
.dxCardView_CTUpdateSummaries_ASADS { background-position: -36px 0px; width: 16px; height: 16px } 
.dxCardView_cvCollapsedButton_ASADS { background-position: -180px -18px; width: 12px; height: 12px } 
.dxCardView_cvCollapsedButtonRtl_ASADS { background-position: -194px -18px; width: 12px; height: 12px } 
.dxCardView_cvExpandedButton_ASADS { background-position: -236px -18px; width: 12px; height: 12px } 
.dxCardView_cvExpandedButtonRtl_ASADS { background-position: -166px -18px; width: 12px; height: 12px } 
.dxCardView_gvCellError_ASADS { background-position: -86px -18px; width: 14px; height: 14px } 
.dxCardView_gvFilterRowButton_ASADS { background-position: -522px 0px; width: 14px; height: 14px } 
.dxCardView_gvHeaderFilter_ASADS { background-position: -54px -18px; width: 14px; height: 14px } 
.dxCardView_gvHeaderFilterActive_ASADS { background-position: -70px -18px; width: 14px; height: 14px } 
.dxCardView_gvHeaderSortDown_ASADS { background-position: -208px -18px; width: 12px; height: 12px } 
.dxCardView_gvHeaderSortUp_ASADS { background-position: -222px -18px; width: 12px; height: 12px } 
.dxCardView_gvUpdateSummariesButton_ASADS { background-position: -18px 0px; width: 16px; height: 16px } 
.dxm-checked .dxCardView_CTShowCustomizationWindow_ASADS { background-position: -162px 0px; width: 16px; height: 16px } 
.dxm-checked .dxCardView_CTShowSearchPanel_ASADS { background-position: -150px -18px; width: 14px; height: 14px } 



