.dx-acc-r .dxRichEdit_CenterTabDragHandle_ASADS:before, .dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_ASADS:before, .dx-acc-r .dxRichEdit_DecimalTabDragHandle_ASADS:before, .dx-acc-r .dxRichEdit_FirstLineIndentDragHandle_ASADS:before, .dx-acc-r .dxRichEdit_LeftIndentDragHandle_ASADS:before, .dx-acc-r .dxRichEdit_LeftTabDragHandle_ASADS:before, .dx-acc-r .dxRichEdit_QuickSearchCloseButton_ASADS:before, .dx-acc-r .dxRichEdit_QuickSearchCollapseButton_ASADS:before, .dx-acc-r .dxRichEdit_QuickSearchNextButton_ASADS:before, .dx-acc-r .dxRichEdit_QuickSearchPrevButton_ASADS:before, .dx-acc-r .dxRichEdit_RightIndentDragHandle_ASADS:before, .dx-acc-r .dxRichEdit_RightTabDragHandle_ASADS:before { content: url('sprite.svg'); }
.dx-acc-r .dxRichEdit_CenterTabDragHandle_ASADS:before { left: -110px; top: 0px; }
.dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_ASADS:before { left: -64px; top: 0px; }
.dx-acc-r .dxRichEdit_DecimalTabDragHandle_ASADS:before { left: -120px; top: 0px; }
.dx-acc-r .dxRichEdit_FirstLineIndentDragHandle_ASADS:before { left: -77px; top: 0px; }
.dx-acc-r .dxRichEdit_LeftIndentDragHandle_ASADS:before { left: -88px; top: 0px; }
.dx-acc-r .dxRichEdit_LeftTabDragHandle_ASADS:before { left: -130px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchCloseButton_ASADS:before { left: 0px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchCollapseButton_ASADS:before { left: -22px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchNextButton_ASADS:before { left: -36px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchPrevButton_ASADS:before { left: -50px; top: 0px; }
.dx-acc-r .dxRichEdit_RightIndentDragHandle_ASADS:before { left: -99px; top: 0px; }
.dx-acc-r .dxRichEdit_RightTabDragHandle_ASADS:before { left: -138px; top: 0px; }

