.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarFNNextPeriod_ASADS:before { left: -522px; top: -364px; }
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarFNPrevPeriod_ASADS:before { left: -446px; top: -224px; }
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarNextMonth_ASADS:before { left: -518px; top: -310px; }
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarNextYear_ASADS:before { left: -474px; top: -238px; }
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarPrevMonth_ASADS:before { left: -410px; top: -220px; }
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarPrevYear_ASADS:before { left: -496px; top: -256px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarFNNextPeriod_ASADS:before { left: -432px; top: -224px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarFNPrevPeriod_ASADS:before { left: -522px; top: -350px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarNextMonth_ASADS:before { left: -482px; top: -256px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarNextYear_ASADS:before { left: -500px; top: -274px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevMonth_ASADS:before { left: -522px; top: -336px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevYear_ASADS:before { left: -488px; top: -238px; }
.dx-acc-r .dxeButtonEditButtonHover_ASADS .dxEditors_edtClear_ASADS:before { left: -426px; top: -122px; }
.dx-acc-r .dxeButtonEditButtonHover_ASADS .dxEditors_edtDropDown_ASADS:before { left: -526px; top: -132px; }
.dx-acc-r .dxeButtonEditButtonHover_ASADS .dxEditors_edtEllipsis_ASADS:before { left: -432px; top: -198px; }
.dx-acc-r .dxeButtonEditButtonPressed_ASADS .dxEditors_edtDropDown_ASADS:before { left: -414px; top: -30px; }
.dx-acc-r .dxeButtonEditButtonPressed_ASADS .dxEditors_edtEllipsis_ASADS:before { left: -450px; top: -198px; }
.dx-acc-r .dxEditors_caRefresh_ASADS:before { left: -478px; top: -168px; }
.dx-acc-r .dxEditors_ddapply_ASADS:before { left: -396px; top: -114px; }
.dx-acc-r .dxEditors_ddclose_ASADS:before { left: -426px; top: -144px; }
.dx-acc-r .dxEditors_edtBinaryImageDelete_ASADS:before { left: -486px; top: -198px; }
.dx-acc-r .dxEditors_edtBinaryImageOpenDialog_ASADS:before { left: -396px; top: -176px; }
.dx-acc-r .dxEditors_edtCalendarFastNavBackToPrevMode_ASADS:before { left: -418px; top: -80px; }
.dx-acc-r .dxEditors_edtCalendarFastNavBackToPrevModeRtl_ASADS:before { left: -418px; top: -60px; }
.dx-acc-r .dxEditors_edtCalendarFNNextPeriod_ASADS:before { left: -518px; top: -296px; }
.dx-acc-r .dxEditors_edtCalendarFNNextYear_ASADS:before { left: -398px; top: -382px; }
.dx-acc-r .dxEditors_edtCalendarFNPrevPeriod_ASADS:before { left: -446px; top: -238px; }
.dx-acc-r .dxEditors_edtCalendarFNPrevYear_ASADS:before { left: -486px; top: -274px; }
.dx-acc-r .dxEditors_edtCalendarNextMonth_ASADS:before { left: -396px; top: -220px; }
.dx-acc-r .dxEditors_edtCalendarNextMonthDisabled_ASADS:before { left: -468px; top: -256px; }
.dx-acc-r .dxEditors_edtCalendarNextYear_ASADS:before { left: -522px; top: -198px; }
.dx-acc-r .dxEditors_edtCalendarNextYearDisabled_ASADS:before { left: -504px; top: -296px; }
.dx-acc-r .dxEditors_edtCalendarPrevMonth_ASADS:before { left: -514px; top: -274px; }
.dx-acc-r .dxEditors_edtCalendarPrevMonthDisabled_ASADS:before { left: -432px; top: -238px; }
.dx-acc-r .dxEditors_edtCalendarPrevYear_ASADS:before { left: -504px; top: -310px; }
.dx-acc-r .dxEditors_edtCalendarPrevYearDisabled_ASADS:before { left: -460px; top: -238px; }
.dx-acc-r .dxEditors_edtClear_ASADS:before { left: -396px; top: -70px; }
.dx-acc-r .dxEditors_edtDETSClockFace_ASADS:before { left: -198px; top: -198px; }
.dx-acc-r .dxEditors_edtDETSHourHand_ASADS:before { left: 0px; top: 0px; }
.dx-acc-r .dxEditors_edtDETSMinuteHand_ASADS:before { left: 0px; top: -198px; }
.dx-acc-r .dxEditors_edtDETSSecondHand_ASADS:before { left: -198px; top: 0px; }
.dx-acc-r .dxEditors_edtDropDown_ASADS:before { left: -438px; top: -30px; }
.dx-acc-r .dxEditors_edtDropDownDisabled_ASADS:before { left: -426px; top: -30px; }
.dx-acc-r .dxEditors_edtEllipsis_ASADS:before { left: -396px; top: -342px; }
.dx-acc-r .dxEditors_edtEllipsisDisabled_ASADS:before { left: -486px; top: -360px; }
.dx-acc-r .dxEditors_edtError_ASADS:before { left: -414px; top: -198px; }
.dx-acc-r .dxEditors_edtListBoxFilterBtn_ASADS:before { left: -458px; top: -80px; }
.dx-acc-r .dxEditors_edtListBoxFilterBtnDisabled_ASADS:before { left: -464px; top: -102px; }
.dx-acc-r .dxEditors_edtListBoxHideFilterBtn_ASADS:before { left: -396px; top: -50px; }
.dx-acc-r .dxEditors_edtListBoxHideFilterBtnDisabled_ASADS:before { left: -470px; top: -124px; }
.dx-acc-r .dxEditors_edtListBoxHideFilterBtnRtl_ASADS:before { left: -494px; top: -148px; }
.dx-acc-r .dxEditors_edtListBoxHideFilterBtnRtlDisabled_ASADS:before { left: -438px; top: -80px; }
.dx-acc-r .dxEditors_edtRadioButtonChecked_ASADS:before { left: -448px; top: -122px; }
.dx-acc-r .dxEditors_edtRadioButtonCheckedDisabled_ASADS:before { left: -472px; top: -146px; }
.dx-acc-r .dxEditors_edtRadioButtonUnchecked_ASADS:before { left: -450px; top: -146px; }
.dx-acc-r .dxEditors_edtRadioButtonUncheckedDisabled_ASADS:before { left: -396px; top: -92px; }
.dx-acc-r .dxEditors_edtSpinEditDecrementImage_ASADS:before { left: -502px; top: -241px; }
.dx-acc-r .dxEditors_edtSpinEditDecrementImageDisabled_ASADS:before { left: -510px; top: -259px; }
.dx-acc-r .dxEditors_edtSpinEditIncrementImage_ASADS:before { left: -450px; top: -31px; }
.dx-acc-r .dxEditors_edtSpinEditIncrementImageDisabled_ASADS:before { left: -482px; top: -227px; }
.dx-acc-r .dxEditors_edtSpinEditLargeDecImage_ASADS:before { left: -505px; top: -31px; }
.dx-acc-r .dxEditors_edtSpinEditLargeDecImageDisabled_ASADS:before { left: -461px; top: -31px; }
.dx-acc-r .dxEditors_edtSpinEditLargeIncImage_ASADS:before { left: -493px; top: -227px; }
.dx-acc-r .dxEditors_edtSpinEditLargeIncImageDisabled_ASADS:before { left: -483px; top: -31px; }
.dx-acc-r .dxEditors_edtTBDecBtn_ASADS:before { left: -418px; top: -168px; }
.dx-acc-r .dxEditors_edtTBIncBtn_ASADS:before { left: -396px; top: -138px; }
.dx-acc-r .dxEditors_edtTokenBoxTokenRemoveButton_ASADS:before { left: -420px; top: -100px; }
.dx-acc-r .dxEditors_edtTokenBoxTokenRemoveButtonDisabled_ASADS:before { left: -516px; top: 0px; }
.dx-acc-r .dxEditors_fcadd_ASADS:before { left: -396px; top: -288px; }
.dx-acc-r .dxEditors_fcaddhot_ASADS:before { left: -450px; top: -306px; }
.dx-acc-r .dxEditors_fcdatetimeoperators_ASADS:before { left: -432px; top: -288px; }
.dx-acc-r .dxEditors_fcgroupaddcondition_ASADS:before { left: -396px; top: -324px; }
.dx-acc-r .dxEditors_fcgroupaddgroup_ASADS:before { left: -414px; top: -360px; }
.dx-acc-r .dxEditors_fcgroupand_ASADS:before { left: -414px; top: -324px; }
.dx-acc-r .dxEditors_fcgroupnotand_ASADS:before { left: -396px; top: -306px; }
.dx-acc-r .dxEditors_fcgroupnotor_ASADS:before { left: -414px; top: -342px; }
.dx-acc-r .dxEditors_fcgroupor_ASADS:before { left: -432px; top: -342px; }
.dx-acc-r .dxEditors_fcgroupremove_ASADS:before { left: -432px; top: -360px; }
.dx-acc-r .dxEditors_fcopany_ASADS:before { left: -414px; top: -270px; }
.dx-acc-r .dxEditors_fcopavg_ASADS:before { left: -432px; top: -306px; }
.dx-acc-r .dxEditors_fcopbegin_ASADS:before { left: -432px; top: -324px; }
.dx-acc-r .dxEditors_fcopbetween_ASADS:before { left: -504px; top: -198px; }
.dx-acc-r .dxEditors_fcopblank_ASADS:before { left: -396px; top: -270px; }
.dx-acc-r .dxEditors_fcopcontain_ASADS:before { left: -450px; top: -324px; }
.dx-acc-r .dxEditors_fcopcount_ASADS:before { left: -414px; top: -288px; }
.dx-acc-r .dxEditors_fcopend_ASADS:before { left: -468px; top: -342px; }
.dx-acc-r .dxEditors_fcopequal_ASADS:before { left: -396px; top: -198px; }
.dx-acc-r .dxEditors_fcopexists_ASADS:before { left: -468px; top: -270px; }
.dx-acc-r .dxEditors_fcopgreater_ASADS:before { left: -486px; top: -342px; }
.dx-acc-r .dxEditors_fcopgreaterorequal_ASADS:before { left: -450px; top: -342px; }
.dx-acc-r .dxEditors_fcopisapril_ASADS:before { left: -432px; top: -252px; }
.dx-acc-r .dxEditors_fcopisaugust_ASADS:before { left: -478px; top: -82px; }
.dx-acc-r .dxEditors_fcopisbeyondthisyear_ASADS:before { left: -468px; top: -324px; }
.dx-acc-r .dxEditors_fcopisdecember_ASADS:before { left: -516px; top: -86px; }
.dx-acc-r .dxEditors_fcopisearlierthismonth_ASADS:before { left: -502px; top: -104px; }
.dx-acc-r .dxEditors_fcopisearlierthisweek_ASADS:before { left: -474px; top: -62px; }
.dx-acc-r .dxEditors_fcopisearlierthisyear_ASADS:before { left: -396px; top: -32px; }
.dx-acc-r .dxEditors_fcopisfebruary_ASADS:before { left: -452px; top: -42px; }
.dx-acc-r .dxEditors_fcopisjanuary_ASADS:before { left: -520px; top: -104px; }
.dx-acc-r .dxEditors_fcopisjuly_ASADS:before { left: -492px; top: -62px; }
.dx-acc-r .dxEditors_fcopisjune_ASADS:before { left: -504px; top: -360px; }
.dx-acc-r .dxEditors_fcopislastmonth_ASADS:before { left: -396px; top: -360px; }
.dx-acc-r .dxEditors_fcopislastweek_ASADS:before { left: -470px; top: -42px; }
.dx-acc-r .dxEditors_fcopislastyear_ASADS:before { left: -468px; top: -306px; }
.dx-acc-r .dxEditors_fcopislaterthismonth_ASADS:before { left: -490px; top: -126px; }
.dx-acc-r .dxEditors_fcopislaterthisweek_ASADS:before { left: -466px; top: -378px; }
.dx-acc-r .dxEditors_fcopislaterthisyear_ASADS:before { left: -496px; top: -82px; }
.dx-acc-r .dxEditors_fcopismarch_ASADS:before { left: -434px; top: -42px; }
.dx-acc-r .dxEditors_fcopismay_ASADS:before { left: -484px; top: -104px; }
.dx-acc-r .dxEditors_fcopisnextmonth_ASADS:before { left: -514px; top: -150px; }
.dx-acc-r .dxEditors_fcopisnextweek_ASADS:before { left: -508px; top: -126px; }
.dx-acc-r .dxEditors_fcopisnextyear_ASADS:before { left: -416px; top: -42px; }
.dx-acc-r .dxEditors_fcopisnovember_ASADS:before { left: -456px; top: -62px; }
.dx-acc-r .dxEditors_fcopisoctober_ASADS:before { left: -414px; top: -306px; }
.dx-acc-r .dxEditors_fcopispriorthisyear_ASADS:before { left: -516px; top: -50px; }
.dx-acc-r .dxEditors_fcopissameday_ASADS:before { left: -468px; top: -360px; }
.dx-acc-r .dxEditors_fcopisseptember_ASADS:before { left: -450px; top: -252px; }
.dx-acc-r .dxEditors_fcopisthismonth_ASADS:before { left: -504px; top: -342px; }
.dx-acc-r .dxEditors_fcopisthisweek_ASADS:before { left: -468px; top: -198px; }
.dx-acc-r .dxEditors_fcopisthisyear_ASADS:before { left: -432px; top: -270px; }
.dx-acc-r .dxEditors_fcopistoday_ASADS:before { left: -486px; top: -288px; }
.dx-acc-r .dxEditors_fcopistomorrow_ASADS:before { left: -414px; top: -252px; }
.dx-acc-r .dxEditors_fcopisyeartodate_ASADS:before { left: -450px; top: -270px; }
.dx-acc-r .dxEditors_fcopisyesterday_ASADS:before { left: -520px; top: -378px; }
.dx-acc-r .dxEditors_fcopless_ASADS:before { left: -450px; top: -360px; }
.dx-acc-r .dxEditors_fcoplessorequal_ASADS:before { left: -486px; top: -324px; }
.dx-acc-r .dxEditors_fcoplike_ASADS:before { left: -414px; top: -234px; }
.dx-acc-r .dxEditors_fcopmax_ASADS:before { left: -438px; top: -62px; }
.dx-acc-r .dxEditors_fcopmin_ASADS:before { left: -486px; top: -306px; }
.dx-acc-r .dxEditors_fcopnotany_ASADS:before { left: -516px; top: -68px; }
.dx-acc-r .dxEditors_fcopnotbetween_ASADS:before { left: -396px; top: -234px; }
.dx-acc-r .dxEditors_fcopnotblank_ASADS:before { left: -468px; top: -288px; }
.dx-acc-r .dxEditors_fcopnotcontain_ASADS:before { left: -450px; top: -288px; }
.dx-acc-r .dxEditors_fcopnotequal_ASADS:before { left: -488px; top: -42px; }
.dx-acc-r .dxEditors_fcopnotlike_ASADS:before { left: -412px; top: -378px; }
.dx-acc-r .dxEditors_fcopsum_ASADS:before { left: -430px; top: -378px; }
.dx-acc-r .dxEditors_fcoptypefield_ASADS:before { left: -448px; top: -378px; }
.dx-acc-r .dxEditors_fcoptypefieldhot_ASADS:before { left: -396px; top: -252px; }
.dx-acc-r .dxEditors_fcoptypevalue_ASADS:before { left: -484px; top: -378px; }
.dx-acc-r .dxEditors_fcoptypevaluehot_ASADS:before { left: -502px; top: -378px; }
.dx-acc-r .dxEditors_fcremove_ASADS:before { left: -504px; top: -324px; }
.dx-acc-r .dxEditors_fcremovehot_ASADS:before { left: -516px; top: -32px; }
.dx-acc-r .dxeSpinDecButtonHover_ASADS .dxEditors_edtSpinEditDecrementImage_ASADS:before { left: -522px; top: -252px; }
.dx-acc-r .dxeSpinDecButtonPressed_ASADS .dxEditors_edtSpinEditDecrementImage_ASADS:before { left: -460px; top: -227px; }
.dx-acc-r .dxeSpinIncButtonHover_ASADS .dxEditors_edtSpinEditIncrementImage_ASADS:before { left: -513px; top: -241px; }
.dx-acc-r .dxeSpinIncButtonPressed_ASADS .dxEditors_edtSpinEditIncrementImage_ASADS:before { left: -522px; top: -263px; }
.dx-acc-r .dxeSpinLargeDecButtonHover_ASADS .dxEditors_edtSpinEditLargeDecImage_ASADS:before { left: -471px; top: -227px; }
.dx-acc-r .dxeSpinLargeDecButtonPressed_ASADS .dxEditors_edtSpinEditLargeDecImage_ASADS:before { left: -472px; top: -31px; }
.dx-acc-r .dxeSpinLargeIncButtonHover_ASADS .dxEditors_edtSpinEditLargeIncImage_ASADS:before { left: -522px; top: -325px; }
.dx-acc-r .dxeSpinLargeIncButtonPressed_ASADS .dxEditors_edtSpinEditLargeIncImage_ASADS:before { left: -494px; top: -31px; }
.dx-acc-r .dxeTBDecBtnHover_ASADS.dxEditors_edtTBDecBtn_ASADS:before { left: -508px; top: -168px; }
.dx-acc-r .dxeTBDecBtnPressed_ASADS.dxEditors_edtTBDecBtn_ASADS:before { left: -486px; top: 0px; }
.dx-acc-r .dxeTBIncBtnHover_ASADS.dxEditors_edtTBIncBtn_ASADS:before { left: -456px; top: 0px; }
.dx-acc-r .dxeTBIncBtnPressed_ASADS.dxEditors_edtTBIncBtn_ASADS:before { left: -426px; top: 0px; }
.dx-acc-r .dxeTrackBar_ASADS.dxeDisabled_ASADS .dxEditors_edtTBDecBtn_ASADS:before { left: -396px; top: 0px; }
.dx-acc-r .dxeTrackBar_ASADS.dxeDisabled_ASADS .dxEditors_edtTBIncBtn_ASADS:before { left: -448px; top: -168px; }
.dx-acc-r .dxgvFocusedRow_ASADS .dxEditors_edtRadioButtonChecked_ASADS:before { left: -442px; top: -100px; }

